__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/
pip-wheel-metadata/
*.sqlite3


venv/
env/
envs/
*.env
*.venv
*.env/
*.venv/
*.env.bak
*.venv.bak/
*.env1
*.venv1
*.env2
*.venv2


*.log
logs/
log/
logging/


*.swp
*.swo
*.swa
*.sublime-project
*.sublime-workspace
*.komodoproject
.project
.tmproj
*.DS_Store
Thumbs.db


.bak/
.build/
dist/
build/
*.egg-info/
*.egg
*.exe
*.msi
*.dll
*.so
*.dylib


.cache/
.clangd/
.mypy_cache/
.pytest_cache/
.jupyter/
node_modules/
.ipynb_checkpoints/
__pypackages__/
.vscode/


.idea/
.vs/
*.code-workspace
*.codespace
*.launch
*.pydevproject
*.metadata/
*.npmrc
*.yarnrc
*.eslintcache
*.presets
*.plist
*.bak
*.backup
*.blend1
*.blend2
*.blend3
*.last-run

.coverage
mocks
